<! DOCTYPE html>


<html>
    <head>
        <meta http-equiv="content-Type" content="text/html"; charset=UFF-8>
        <title>E-Table</title>
    </head>

    <body>
        <p>Employees Table</p>

        {% if Employee_list %}
        <ol>
            <table border="1">
                <th>ID</th> <th>이름</th> <th> 업무 종류
                    <form name="mod" action="{% url 'employees:search' %}" method="post">
                        {% csrf_token %}
                        <select name='worktype'>
                            <option value='' selected>---- 선택 ----</option>
                            <option value='houseman'>houseman</option>
                            <option value='londry'>londry</option>
                            <option value='operator'>operator</option>
                            <option value='reception'>reception</option>
                            <option value='reservation'>reservation</option>
                            <option value='roommaid'>roommaid</option>
                            <option value='other'>other</option>
                        </select>
                    <input type="submit" value = "검색">
                    </form>
                </th> <th>휴대폰 번호</th> <th>누적 업무</th>
                <tr>
                    {% for e in Employee_list %}
                    <td><a href="{% url 'employees:information' e.e_ID %}">{{e.e_ID}}</a></td>
                    <td>{{e.e_name}}</td>
                    <td>{{e.e_work_type}}</td>
                    <td>{{e.e_phone_number}}</td>
                    <td>{{e.complain_code}}<button href="#none">제거</button></td>
                </tr>
            {% endfor %}
            </table>
        </ol>
        {% else %}
            <p>Employee : 0</p>
        {% endif %}

        </br>

        <input type="button" value = "새로운 직원 등록" onclick="location.href='http://127.0.0.1:8000/employees/reg/'">
    

    </body>
</html>