<h1>Complains</h1>

<a href="{% url 'complain_text' %}">new_complain</a>


<ol>
    <table border="1">
        <th>customer_ID</th> <th>date</th> <th>complain_type</th> <th>room_number</th> <th>employee_ID</th> <th>problem_type</th> <th>complain_message</th>
        <tr>
        {% for complains in complain_list %}
            <td>{{ complains.customer_ID }} </td>
            <td>{{ complains.date }}</td>
            <td>{{ complains.complain_type }}</td>
            <td>{{ complains.room_number }}</td>
            <td>{{ complains.employee_ID }}</td>
            <td>{{ complains.problem_type }}</td>
            <td>{{ complains.complain_message }}</td>
        </tr>
        {% endfor %}
